@model List<ExampleMVC.Models.DogViewModel>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h4>Welcome to Dog page </h4>

<p>This is the Start page of the StartController</p>

<ul>
    @foreach (var dog in Model)
    {
        <li>@dog.name is @dog.age yrs old</li>

    }


</ul>
